extends layout

block content
    h1 Server Error 
    p Sorry! There was an unexpected error on the server.

    body
      img.error-img(src='/static/500-Error.png') 
      //Image credit https://storyset.com/illustration/500-internal-server-error/cuate 
