extends layout 

block content 
    h1 Page Not Found
    p Sorry! We couldn't find the page you were looking for.
    body
        img.error-img(src='/public/404-Error.png') 
        //Image credit https://storyset.com/illustration/404-error-page-not-found-with-people-connecting-a-plug/pana
    br
    p
        a.button(href='/books') Home
